body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

body .reaction-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .reaction-section .reaction-counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .reaction-section .reaction-counts .icon-count {
  margin: 0 3px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

body .reaction-section .reaction-counts .icon-count:hover {
  background-color: #f1f1f1;
}

body .reaction-section .reaction-counts .icon-count.active {
  border-color: #42C2FF;
  background-color: #EFFFFD;
}

body .reaction-section .reaction-icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -5px;
}

body .reaction-section .reaction-icon-section .reaction-buttons {
  width: 130px;
  padding: 8px 20px;
  border-radius: 40px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: -45px;
  left: -62px;
  z-index: 9;
}

body .reaction-section .reaction-icon-section .reaction-buttons .react-button {
  cursor: pointer;
}

body .reaction-section .reaction-icon-section .reaction-buttons .react-button:hover {
  -webkit-transform: scale(1.3) translate(0px, -10px);
          transform: scale(1.3) translate(0px, -10px);
  -webkit-transition: 300ms;
  transition: 300ms;
}

body .reaction-section .reaction-icon-section .reaction-buttons .react-button:hover div.react-button-title {
  display: block;
}

body .reaction-section .reaction-icon-section .reaction-buttons .react-button:hover div.react-button-title.react-clap {
  left: -20px;
}

body .reaction-section .reaction-icon-section .reaction-buttons .react-button:hover div.react-button-title.react-heart {
  left: -9px;
}

body .reaction-section .reaction-icon-section .reaction-buttons .react-button .react-button-title {
  position: absolute;
  top: -25px;
  background-color: black;
  color: #fff;
  padding: 4px 8px;
  border-radius: 50px;
  left: -4px;
  font-size: 12px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  display: none;
}

body .reaction-section .reaction-icon-section .react-trigger-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

body .reaction-section .reaction-icon-section .react-trigger-section .react-trigger-button {
  border: 2px solid #fff;
  padding: 8px 9px 5px;
  border-radius: 50%;
  background-color: #eee;
}
/*# sourceMappingURL=App.css.map */