.box {
    border: 1px solid #ccc;
    float: left;
    width: 47%;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 4px;
    height: 200px;
    background-color: aliceblue;
    color: #000;
}

.box span {
    font-weight: 700;
    color: darkblue;
}

.box .oddEven input {
    margin: 10px 5px 0 0;
    padding: 5px 8px;
}

.box .oddEven button {
    padding: 6px 8px;
    background-color: rgb(32 35 43);
    border: 1px solid #20232c;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}