.box{
    border: 1px solid #ccc;
    display: inline-block;
    width: 47%;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 4px;
    height: 200px;
    background-color: aliceblue;
    color: #000;
}
.box span{
    font-weight: 700;
    color:darkblue;
}